<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Add New Benutzer</h1>

    <f:flashMessages />

    <f:form action="create" object="{newBenutzer}" name="newBenutzer">
        <label for="benutzerName">Name</label>
        <f:form.textfield property="benutzerName" id="benutzerName" />
        
        <label for="benutzerEmail">Email</label>
        <f:form.textfield property="benutzerEmail" id="benutzerEmail" />
        
        <label for="benutzerPassword">Password</label>
        <f:form.password property="benutzerPassword" id="benutzerPassword" />
        
        <f:form.submit value="Create" />
    </f:form>
</f:section>
</html>
