<!DOCTYPE html>
<html>
    <head>
        <title>Spaghetti Bolognese</title>
        <link rel="stylesheet" href="styles/recipe-book.css" media="screen">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            <div class="nav-bar">
                <a href="recipe-list.html">Meine Rezepte</a>
                <a href="login.html">Abmelden</a>
            </div>
            <div class="title">
                Mehl
            </div>
        </div>
        <div class="page-content">
            <div class="ingredient-details">
                <input type="number" class="amount-input" name="amount-input" min="1" value="100">
                <label for="amount-input">Gramm</label>
                <div></div>
            </div>
            <div class="ingredient-details">
                Nährstoffe:
            </div>
            <div class="buttons-container">
                <a href="new-recipe.html" class="button">Bearbeiten</a>
                <a href="recipe-list.html" class="button">Löschen</a>
            </div>       
        </div>
    </body>
</html>