<!DOCTYPE html>
<html>
    <head>
        <title>Meine Rezepte</title>
        <link rel="stylesheet" href="styles/recipe-book.css" media="screen">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="nav-bar">
                <a href="recipe-list.html">Meine Rezepte</a>
                <a href="login.html">Abmelden</a>
            </div>
            <div class="title">
                Meine Rezepte
            </div>
        </div>
        <div class="page-content">
            <a href="new-recipe.html" class="new-recipe">
                <div class="add-new-recipe">
                    <span class="material-symbols-outlined">add_circle</span>
                </div>
                <div>Neues Rezept hinzufügen</div>
            </a>
            <a href="recipe-detail.html" class="recipe-item">
                <div class="recipe-icon">
                    <span class="material-symbols-outlined">fork_spoon</span>
                </div>
                <div>Spaghetti Bolognese</div>
            </a>
            <a href="recipe-detail.html" class="recipe-item">
                <div class="recipe-icon">
                    <span class="material-symbols-outlined">fork_spoon</span>
                </div>
                <div>Spaghetti Bolognese</div>
            </a>
            <a href="recipe-detail.html" class="recipe-item">
                <div class="recipe-icon">
                    <span class="material-symbols-outlined">fork_spoon</span>
                </div>
                <div>Spaghetti Bolognese</div>
            </a>
            <a href="recipe-detail.html" class="recipe-item">
                <div class="recipe-icon">
                    <span class="material-symbols-outlined">fork_spoon</span>
                </div>
                <div>Spaghetti Bolognese</div>
            </a>
        </div>
    </body>
</html>