<!DOCTYPE html>
<html>
    <head>
        <title>Registrierung</title>
        <link rel="stylesheet" href="styles/login.css" media="screen">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="login-container">
            <div class="header">
                Registrieren
            </div>
            <form>
                <div class="form-group">
                    <label for="username">Benutzername:</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="password">E-Mail:</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-group">
                    <a href="recipe-list.html" class="button">Jetzt registrieren!</a>
                </div>
            </form>
            <div class="footer">
                <p>Du hast schon einen Account? Hier <a href="login.html">anmelden!</a></p>
            </div>
        </div>
    </body>
</html>