<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>

<f:layout name="RecipeLayout" /> 


<f:section name="content">

<body>
    <f:render partial="Header" arguments="{title:'Zutaten', recipe: recipe, benutzer: benutzer}" />
    <div class="page-content">
        <f:for each="{entries}" as="entry">
            <f:for each="{entries}" as="entry">
                <f:render partial="IngredientListItem" arguments="{ingredient: entry, recipeUuid: recipeUuid}" />
            </f:for>
                    </f:for>

        <p>DEBUG: recipeUuid = {recipeUuid}</p>

    </div>
</body>


</f:section>

</html>