<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>

<f:layout name="RecipeLayout" /> 


<f:section name="content">

<body>
    <f:render partial="Header" arguments="{title:'Meine Rezepte', benutzer:benutzer}" />

    <div class="page-content">
        <!-- <a href="new-recipe.html" class="new-recipe"> -->
        <f:link.action action="newRecipe" controller="Recipe" arguments="{benutzerId: benutzer.uid}" class="new-recipe">
            <div class="add-new-recipe">
                <span class="material-symbols-outlined">add_circle</span>
            </div>
            <div>Neues Rezept hinzufügen</div>
        </f:link.action>
        <!-- </a> -->

        <f:if condition="{recipes}">
            <f:for each="{recipes}" as="recipe">
                <!-- for each recipe in database, create list entry (load partial with recipe details)   -->
                <f:render partial="RecipeListEntry" arguments="{recipe:recipe, benutzer:benutzer}" />
            </f:for>
        </f:if>


        </a>
    </div>
</body>


</f:section>

</html>